.body {
  text-align: center;
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: black;
  overflow: hidden;
  transform-origin: 50% 100%;
  transform: perspective(700px) rotateX(40deg);
}

.text-container h1 {
  font-size: 100px;
  line-height: 2;
  text-align: center;
}

.text-container span {
  display: inline-block;
  font-size: 70px;
  line-height: 2;
  padding-bottom: 80px;
}

.text-container {
  position: relative;
  margin: auto;
  width: 85%;
  color: gold;
  padding: 10px;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-name: scroll;
  text-align: justify;
}

@keyframes scroll {
  from {
    transform: translateY(30%);
  }

  to {
    transform: translateY(-100%);
  }
}
